/* Navbar is wider than default bootstrap */


/* body{
    padding-top:70px;
} */


/* Navbar styling */

.navbar {
    box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.2);
    height: 70px;
}

.navbar-brand img {
    max-height: 80px!important;
}

.active {
    border-bottom: 3px solid #000;
}


/* Hero Units */

.hero {
    height: 60vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../img/body_bg.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-homepage {
    height: 100vh;
}

.hero-lead {
    font-size: 2rem;
}

.hero-inner .btn-light {
    font-size: 1.5rem;
    /* border-radius: 50px; */
}

.larger-text {
    font-size: 1.25rem;
}

.hero-spaces {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/spaces_bg.jpg');
    background-position: bottom center;
}

.hero-events {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/events_bg.jpg');
    background-position: center;
}


/* Custom cards for home page and charts page */

.card-custom {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(100, 100, 100, 0.2);
}

.quick-links .card .card-img-top {
    max-height: 400px!important;
    width: auto;
}

.quick-links .card {
    transition: 0.4s all ease;
}

.quick-links .card:hover {
    background-color: #e93f4a;
    color: #fff;
}

.quick-links a:hover {
    text-decoration: none!important;
}

.custom-card a {
    overflow: hidden;
}

.custom-card a img {
    transition: 0.3s all ease;
}

.custom-card a img:hover {
    transform: scale(1.1);
}

.overlay {
    display: none;
    height: 100%;
    width: 100%;
}

.card {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2) !important;
}

.datepicker .datepicker-days td,
.datepicker .datepicker-days th {
    width: 40px!important;
}

.bc-whitebg {
    background: #f6f6f6!important;
}

.bc-whitebg .active {
    text-decoration: none!important;
    border-bottom: none!important;
    color: #000;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    position: sticky;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../img/body_bg.jpg");
    /* min-height: 600px; */
    height:100vh;
}

.bgimg-2 {
    background-image: url("../img/woman_near_flowers.jpg");
    /* min-height: 600px; */
    height:100vh;
}

.bgimg-3 {
    background-image: url("../img/spaces_bg.jpg");
    /* min-height: 600px; */
    height:100vh;
}

.bgimg-4 {
    background-image: url("../img/events.jpg");
    /* min-height: 600px; */
    height:100vh;
}

.emergency-button {
    position: fixed;
    top: 85vh;
    left: 5px;
    display: none;
}

.visualizationContainer{
    background-color:#3c6998;
}

@media (max-width: 769px) {
    /* Add light grey background to navbar on md and below */
    .navbar-collapse {
        position: absolute;
        top: 100px;
        padding: 20px;
        left: 0;
        width: 100%;
        background: #f3f3f3;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .emergency-button {
        display: block;
    }
}